* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundClass {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
}

h2 {
  margin: 20px;
}
li {
  margin: 15px;
}
.form.form {
  margin: 15px;
  padding-left: 100px;
  padding-right: 80px;
}

p {
  padding-left: 20px;
  padding-top: 20px;
}

label[for="checkbox"] {
  display: block;
  margin-bottom: 10px;
  margin-left: 40px;
}

input#checkbox {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
}

#checkbox {
  align-self: center;
}
/* Additional styles for input when focused */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.good-weather {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://media.giphy.com/media/mtHubvZ3mle4UTgZmU/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.bad-weather {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://media.giphy.com/media/CgzCfht67MPw0LUy9o/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: blueviolet;
}
